## **Task1 : GirlScript Foundation**

# ***Author : Rahul Kale***

***1) Python Program to use all Arithmatic Operators.***

In [ ]:
# Addition
a = 88
b = 10
c = a+b
print(c)

98

In [ ]:
# Subtraction
a = 45
b = 23
print(a-b)

22

In [ ]:
# Multiplication
a = 24
b = 19
print(a*b)

456

In [ ]:
# Division
a = 64
b = 4
print(a/b)

16.0

In [ ]:
# Modulus
a = 21
b = 2
print(a % b)

1

In [ ]:
# Quotient
a = 48
b = 5
print(a//b)

9

In [ ]:
# Exponent
a = 8
b = 3
print(a**b)

512

***2) Python Program to use all Assignment Operators.***

In [ ]:
a = 88
a += 10
print(a)

98

In [ ]:
a = 88
a -= 10
print(a)

78

In [ ]:
a = 88
a *= 10
print(a)

880

In [ ]:
a = 88
a /= 10
print(a)

8.8

In [ ]:
a = 95
a %= 10
print(a)

5

In [ ]:
a = 88
a //= 10
print(a)

8

In [ ]:
a = 4
a **= 3
print(a)

64

***3) Python Program to use all Comparison Operators.***

In [ ]:
# Equal to
a = 8
print(a == 8)

True

In [ ]:
# Equal to
a = 56
print(a == 6)

False

In [ ]:
# Not Equal to
a = 8
print(a != 6)

True

In [89]:
# Greater than 
a = 12
b = 28
if a>b:
  print("a is greater than b", a)
else:
  print("b is greater than a", b)

b is greater than a 28

In [ ]:
# Less than 
a = 34
b = 15
if a<b:
  print("a is less than b", a)
else:
  print("b is less than a", b)

b is less than a 15

In [90]:
a = 34
b = 15
print(a>=b)

True

In [91]:
a = 34
b = 15
print(a<=b)

False

In [ ]:
a = 4
b = 14
print(a>=b)

False

In [ ]:
a = 34
b = 54
print(a<=b)

True

***4) Python Program to use all Identity Operators.***

In [ ]:
a = "python"
a = b
print(a is b)

True

In [ ]:
a = "python"
a = b
print(a is not b)

False

***5) Python Program to use all Membership Operators.***

In [ ]:
r = "tableau"
print("tableau" in r)

True

In [ ]:
r = "tableau"
print("python" not in r)

True

***6) Python Program to find maximum of two numbers.***

In [ ]:
a = 45
b = 64
print(max(a,b))

64

***7) Python Program for Simple Interest.***

In [ ]:
# Method-1
P = 1000  
R = 5
T = 2
# SI = Simple Interest
SI = (P*R*T)/100
print(SI)

100.0

In [ ]:
# Method-2
P = int(input("Enter the value of P"))
R = int(input("Enter the value of R"))
T = int(input("Enter the value of T"))
SI = (P*R*T)/100
print(SI)

Enter the value of P2000
Enter the value of R8
Enter the value of T4
640.0

In [ ]:
P = 1000  
R = 5
T = 2
# CI = Compound Interest
CI =  P * (pow((1 + R / 100), T))
print(CI)

1102.5

***8) Python Program to find area of circle.***

In [ ]:
import math
R = float(input('Enter the radius of the circle :'))
area = math.pi * R * R
print("Area of the circle is : %.2f" %area)

Enter the radius of the circle :20
Area of the circle is : 1256.64

***9) Python Program for Implicit and Explicit type Conversion***

In [85]:
# Implicit type Converison
impli_int = 68
impli_float = 2.3
impli_add = impli_int + impli_float
print(impli_add)
print(type(impli_add))

70.3
<class 'float'>

In [88]:
# Explicit type Conversion
expli_str = "578"
expli_int = 5
expli_str = int(expli_str)
expli_add = expli_str + expli_int
print(expli_add)
print(type(expli_add))

583
<class 'int'>

### **!! Thank You !!**